Selected: <%= inspect(@selected) %>
<br \>
Players: <%= inspect(@spectators) %>
<br \>
Clocks: <%= inspect(@game.clock) %>
<br \>
<.back navigate={~p"/home"}>Home</.back>
<div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8">
  <div class="mx-auto max-w-3xl">
    <div class="w-full flex flex-col items-center">
      <.board pieces={@game.board.pieces} selected={@selected} moves={@moves} />
    </div>
  </div>
</div>